<header class="masthead text-center text-white">
  <div class="masthead-content">
    <div class="container">
      <h1 class="masthead-heading mb-0">Blogging Platform</h1>
      <h2 class="masthead-subheading mb-0">Share your ideas now!</h2>
      <!-- <a href="#" class="btn btn-primary btn-xl rounded-pill mt-5">Learn More</a> -->
      <%= link_to "Sign up", signup_path, class: "btn btn-primary btn-lg mt-5" %>
      <%= link_to "Log in", signup_path, class: "btn btn-primary btn-lg mt-5" %>
    </div>
  </div>
  <div class="bg-circle-1 bg-circle"></div>
  <div class="bg-circle-2 bg-circle"></div>
  <div class="bg-circle-3 bg-circle"></div>
  <div class="bg-circle-4 bg-circle"></div>
</header>

<section>
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6 order-lg-2">
        <div class="p-5">
          <img class="img-fluid rounded-circle" src="img/01.jpg" alt="">
          <!-- <img class="img-fluid rounded-circle" src="img/01.jpg" alt=""> -->
          <%= image_tag "1.png", class: 'img-fluid rounded-circle' %> 
        </div>
      </div>
      <div class="col-lg-6 order-lg-1">
        <div class="p-5">
          <h2 class="display-4">To be a better thinker...</h2>
          <p>Because the process of writing includes recording thoughts on paper, the blogging process encourages you to stop and think deeper. You will delve deeper into the matters of your life and the worldview that shapes them.</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6">
        <div class="p-5">
          <%= image_tag "2.jpg", class: 'img-fluid rounded-circle' %> 
        </div>
      </div>
      <div class="col-lg-6">
        <div class="p-5">
          <h2 class="display-4">Live a more intentional life!</h2>
          <p>Once you start writing about your life and the thoughts that shape it, you’ll begin thinking more intentionally about who you are, who you are becoming, and whether you like what you see or not.</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6 order-lg-2">
        <div class="p-5">
          <%= image_tag "3.jpg", class: 'img-fluid rounded-circle' %>         
        </div>
      </div>
      <div class="col-lg-6 order-lg-1">
        <div class="p-5">
          <h2 class="display-4">Develop an eye for meaningful things!</h2>
          <p>Blogging is a never-ending process of choosing to articulate the most meaningful events and the most important thoughts. This process of choice helps you develop an eye for meaningful things. And remember that sometimes the most meaningful things appear in the most mundane.</p>
        </div>
      </div>
    </div>
  </div>
</section>